## Edit those variables
YAKFORMS_VERSION=v1.1
YAKFORMS_DB=yakforms
YAKFORMS_DB_USER=user
YAKFORMS_DB_PASSWORD=pass
YAKFORMS_DB_HOSTNAME=db
YAKFORMS_DB_PORT=5432

### do not touch variables below
POSTGRES_DB=${YAKFORMS_DB}
POSTGRES_USER=${YAKFORMS_DB_USER}
POSTGRES_PASSWORD=${YAKFORMS_DB_PASSWORD}
