@import 'variables.css';
@import 'theme-default.css';
@import 'fonts.css';

@import 'layout.css';
@import 'header.css';
@import 'footer.css';

@import 'content.css';
@import 'buttons.css';
@import 'alert.css';
@import 'tabs.css';
@import 'form-builder.css';
@import 'form-components.css';
@import 'progress.css';

@import 'sidebar.css';

@import 'page-front.css';

@import 'page-add-form.css';
@import 'page-analysis.css'; /* (webform results) */
@import 'page-share.css';

@import 'page-conditionals.css'; /* (webform build) */

@import 'inframe.css';
@import 'cleaning.css';


/* Page node form */
.field-name-field-form1-image {
  margin: 1rem 0;
}

.field-name-field-form1-image img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0;
}

/* Page register */
.not-logged-in #block-yakforms-yakforms-my-account {
  display: none;
}

/* Page myforms */
.page-user-forms #block-yakforms-yakforms-my-account {
  display: none;
}

.page-user-forms table thead a {
  text-decoration: none;
}

/* Page templates */
.page-templates table .views-field-nid a{
  background-color: var(--c-primary);
  background-image: var(--i-clone);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem;
  border-radius: 50%;
  display: block;
  font-size: 0px;
  margin: 0 auto;
  padding: 1rem;
  width: 1rem;
  height: 1rem;
}

.page-templates .views-exposed-widget .form-submit {
  margin-top: 1.6rem;
}

/* Webform results */
/* Page results (webform) */
.page-node-webform-results table {
  margin-bottom: 1.5rem;
  border: none;
}

.page-node-webform-results thead tr,
.page-node-webform-results thead th {
  background: none;
}

.page-node-webform-results thead th a {
  text-decoration: none;
}

.page-node-webform-results thead th img {
  margin-left: .25rem;
}

.page-node-webform-results td.active { /* active = sorted col */
  background: none;
  font-weight: bold;
}

.page-node-webform-results thead th[colspan] { /* "Actions" */
  text-align: center;
}

.page-node-webform-results thead th {
  border-bottom: 2px solid var(--c-bd-primary);
}

/* Page table (webform)*/
.page-node-webform-results-table #block-system-main { /* TODO wrap tables in order to keep the filter form visible */
  overflow-x: auto;
}

/* Webform building */
/* Page validation (webform) */
.page-node-webform-validation #main .tabledrag-handle .handle {
  margin-left: 1rem;
}

.page-node-webform-validation table {
  margin-bottom: 1.5rem;
  border: none;
}

.page-node-webform-validation thead tr,
.page-node-webform-validation thead th {
  background: none;
}

.page-node-webform-validation thead th {
  border-bottom: 2px solid var(--c-bd-primary);
}

.page-node-webform-validation thead th:last-of-type {
  text-align: center;
}

.page-node-webform-validation .form-actions {
  display:flex;
  justify-content: space-around;
}

#webform-validation-manage-overview-form {
  margin-bottom: 2rem;
}

/* Page emails (webform) */
.page-node-webform-emails table {
  border: none;
  margin-bottom: 2rem;
}

.page-node-webform-emails table thead th:last-of-type {
  text-align: center;
}

.page-node-webform-emails table .webform-add-form td {
  border: none;
  padding: 0;
}

.page-node-webform-emails table .webform-add-form td:first-of-type {
  display: none;
}

.page-node-webform-emails table .webform-add-form input { /* .btn-sm */
  font-size: .875rem;
  padding: .25rem .5rem;
  border-radius: .2rem;
}

/* Page import (webform) */
.page-node-webform-ws-import .form-type-checkbox .description {
  margin-left: 2rem !important; /* checkboxes are bigger because they are not in fieldset */
}

/* Old stuffs --------------------------------------------------------------- */
.compteBtn {
  float: left;
  margin-right: 70px;
}

/* images for feature page */
#features-page img {
  width: auto;
  max-width: 80%;
  border: 1px solid lightgray;
  /* box-shadow: 3px 3px 5px rgb(136, 136, 136); */
}

#features-page .no-shadow {
  box-shadow: unset !important;
  border: unset !important;
}

/*
.warning-personnal-data {
  font-size: 75% !important;
  padding: 0.7em;
  background-color: #f2f2f2;
  border: 1px solid darkgray;
  border-radius: 13px;
  margin: 1em;
}
*/

.tutoriel_element {
  /* border: 1px solid lightgray;
  box-shadow: 3px 3px 4px #aaa; */
  width: 100%;
}

